body {
  background-color: #f8f9fa; /* Fondo claro */
  font-family: Arial, sans-serif;
}

.payment-options {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.payment-options button {
  width: 100px;
  height: 100px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.payment-options button:hover {
  transform: scale(1.1);
}

.logo {
  width: 60%;
  height: auto;
}

.separator {
  text-align: center;
  color: #6c757d;
}

.separator .line {
  border: 0;
  height: 1px;
  background: #dee2e6;
}

.credit-card-info {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input_label {
  font-size: 14px;
  color: #495057;
  font-weight: bold;
}

.input_container .form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
}

.split .form-control {
  flex: 1;
}

button.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

button.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

button:hover {
  opacity: 0.9;
}
